@import 'partials/typo/typo';
@import 'partials/var';
@import 'partials/index';
@import 'partials/spectacles';
@import 'partials/troupe';


.parallax-container {
    height: "80vh";
  };

  @media only screen and (max-width: 600px) {
       .parallax img {
         &.one {
          margin-left: 70%;
         }    
    }
  }
  
  

#cqrlm {
  background: #000000 url("../images/cqrlm.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
  p {
    color: $main-color;
    font-family: $police_button;
  }

};
#evi {
  background: #000000 url("../images/evi.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  p {
    color: $main-color;
    font-family: $police_button;
  }
          
};
#journey {
  background: #000000 url("../images/journey.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
  p {
    color: $main-color;
    font-family: $police_button;
  }
          
};
#troupe {
  background: url("../images/caroussel/cqrlm/5.png") fixed;
  background-size: cover;
};

.map-responsive {   
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  };
  
  .map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  };
 
.sidenav-overlay {
  z-index: 2 !important;
}  

a {
  outline: none;
}
  