@font-face {
  font-family: "Impact";
  src: url("./font/Impact.woff2"), url("./font/Impact.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("./font/lato-regular-webfont.woff2"), url("./font/lato-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "keep_calm_medregular";
  src: url("./font/keepcalm-medium-webfont.woff2"), url("./font/keepcalm-medium-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybook";
  src: url("./font/gravity-book-webfont.woff2"), url("./font/gravity-book-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravityregular";
  src: url("./font/gravity-regular-webfont.woff2"), url("./font/gravity-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybold";
  src: url("./font/gravity-bold-webfont.woff2"), url("./font/gravity-bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caviarBold";
  src: url("./font/caviardreams_bold-webfont.woff2"), url("./font/caviardreams_bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caviarDreams";
  src: url("./font/caviardreams-webfont.woff2"), url("./font/caviardreams-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Impact";
  src: url("./font/Impact.woff2"), url("./font/Impact.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("./font/lato-regular-webfont.woff2"), url("./font/lato-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "keep_calm_medregular";
  src: url("./font/keepcalm-medium-webfont.woff2"), url("./font/keepcalm-medium-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybook";
  src: url("./font/gravity-book-webfont.woff2"), url("./font/gravity-book-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravityregular";
  src: url("./font/gravity-regular-webfont.woff2"), url("./font/gravity-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gravitybold";
  src: url("./font/gravity-bold-webfont.woff2"), url("./font/gravity-bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caviarBold";
  src: url("./font/caviardreams_bold-webfont.woff2"), url("./font/caviardreams_bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caviarDreams";
  src: url("./font/caviardreams-webfont.woff2"), url("./font/caviardreams-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: caviarBold;
  text-transform: uppercase;
  font-size: 4em;
}

h2 {
  font-family: caviarBold;
  text-transform: uppercase;
  font-size: 3em;
}

h3 {
  font-family: gravityregular;
  text-transform: uppercase;
  font-size: 2em;
}

p {
  font-family: latoregular;
}

.nav-wrapper a {
  font-family: gravityregular;
  outline: none;
  text-align: justify;
}

blockquote {
  font-family: caviarBold;
  font-size: 1em;
}

.modal-content h3 {
  font-family: caviarBold;
  text-transform: uppercase;
  font-size: 2em;
}
.modal-content p {
  font-family: latoregular;
}
.modal-content a {
  font-family: gravityregular;
  outline: none;
  font-weight: bold;
}

.card-title {
  font-family: caviarBold;
  font-size: 1.3em !important;
}

.histoire {
  font-weight: bold;
  font-size: 1.5em;
}

.titre {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10vh;
}

.troupe h1 {
  color: #ffffff;
  margin-bottom: 5vh;
  font-size: 3em;
}
.troupe h2 {
  color: #ffffff;
  margin-bottom: 5vh;
  font-size: 2em;
}
.troupe img {
  object-fit: cover;
  width: 280px !important;
  height: 300px;
}
.troupe .card-content {
  width: 250px;
  height: 120px;
  margin-left: 1vw;
}
.troupe span {
  font-family: latoregular;
}
.troupe span.card-title {
  font-size: 1.4em;
}
.troupe a {
  font-family: caviarBold;
}
.troupe p {
  font-family: latoregular;
  color: grey !important;
}
.troupe p.description {
  padding: 3%;
  text-align: justify !important;
  font-size: 1em;
}

@media (max-width: 320px) {
  .troupe img {
    object-fit: cover;
    width: 200px;
    height: 300px;
  }
  .troupe .card-content {
    width: 250px;
    height: 120px;
    margin-left: 1vw;
  }
}
.parallax-container {
  height: "80vh";
}

@media only screen and (max-width: 600px) {
  .parallax img.one {
    margin-left: 70%;
  }
}
#cqrlm {
  background: #000000 url("../images/cqrlm.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#cqrlm p {
  color: #ffffff;
  font-family: caviarBold;
}

#evi {
  background: #000000 url("../images/evi.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#evi p {
  color: #ffffff;
  font-family: caviarBold;
}

#journey {
  background: #000000 url("../images/journey.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#journey p {
  color: #ffffff;
  font-family: caviarBold;
}

#troupe {
  background: url("../images/caroussel/cqrlm/5.png") fixed;
  background-size: cover;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.sidenav-overlay {
  z-index: 2 !important;
}

a {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
