.spectacle {
    .histoire {
        font-family: $police_titre !important;    
        font-weight: bold;
        font-size: 2em;    
    };
    .titre {
        font-family: $police_titre !important;       
        font-weight: bold;
        font-size: 2em;
        margin-top: 10vh;
    };
    p {
        font-family: $police_texte !important;
    }
}